body {
  margin: 0;
  color: slateblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

background {
  color: grey;
}

h1, h2, h3, h4, h5 {
  color:  darkslateblue;
  font-family: fantasy;
  font-weight: 600;
}

button {
  font-family: fantasy;
}

.recipe-div {
  background: steelblue;
  border-width: 4;
  border-radius: 20px;
}

div {
  border-width: 4;
  border-radius: 20px;
}

.single-recipe {
  border-width: 4;
  border-radius: 20px;
  background:  lightsteelblue;
}

.tab {
  margin-left: 2.5em
 }